# Environment
.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
env/

# Database
*.db
*.sqlite3

# Uploads
static/uploads/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
